# Ignore everything
*

# Root files
!.gitignore
!README.md

# Patcher source + published binaries
!Patcher/
!Patcher/**
Patcher/bin/
Patcher/obj/

# MasterServer source
!MasterServer/
!MasterServer/**
MasterServer/bin/
MasterServer/obj/
